.supportHero{
    background-color: rgb(109, 109, 241);
    color: rgb(224, 221, 221);
}
.input-group{
    background-color: white;
    height: 3rem;
}
.col-7 a{
    color: white!important;
}
.col-7 a:hover{
    color: darkgrey!important;
}
.col-5 a{
    color: white !important;
}
.col-5 a:hover{
    color: darkgray !important;
}