:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
 padding: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
 
}
.nav-link{
  margin-left: 2rem;
}
.nav-link:hover{
  color: blue;
}
a{
  text-decoration: none;
  color: rgb(99, 95, 95);
  font-weight: 500;
  line-height: 2rem;
}
a:hover{
  color: blue;
}